code {
  font-family: Consolas,"courier new";
  color: black;
  background-color: #b5b5b5;
  font-size: 75%;
}

body, html {
  height: 75%;
  font-size: 16px;
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

img {
    width: 100%;
}

.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.linav {
  float: left;
}

.linava {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link colour on hover */
li a:hover {
  background-color: #111;
}

.bg-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 2;
  width: 80%;
  padding: 0px;
  text-align: center;
}

table, td, tr {
    border-style: solid;
    border-width: 2px;
}
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*CONTACT FORM*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Add a background color and some padding around the form */
.container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
} 